Tema 1/dagwda.py
/Tema 3/java/Ejercicios/nbproject/private/
/Tema 3/java/Ejercicios/build/
/Tema 4/Ejercicios/eclipse/bin/

# Ignore Java compiled classes and IDE metadata
*.class
*.jar
/.idea/
nbproject/private/
target/
# OS
.DS_Store
Thumbs.db
