Tema 1/dagwda.py
/Tema 3/java/Ejercicios/nbproject/private/
/Tema 3/java/Ejercicios/build/

# Ignore Java compiled classes and IDE metadata
*.class
*.jar
/.idea/
.classpath
.project
nbproject/private/
build/
target/
# OS
.DS_Store
Thumbs.db
